<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="imu_link" params="xyz">
        <!--机器人IMU-->
        <link name="imu_link">
            <!--外观描述-->
            <visual>
                <!--偏移和旋转-->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!--几何形状-->
                <geometry>
                    <!--正方体, 单位m-->
                    <box size="0.02 0.02 0.02"/>
                </geometry>
                <!--材质-->
                <material name="black">
                    <!--颜色RGBA格式-->
                    <color rgba="0 0 0 0.5"/>
                </material>
            </visual>

            <collision>
                <!--偏移和旋转-->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!--几何形状-->
                <geometry>
                    <!--正方体, 单位m-->
                    <box size="0.02 0.02 0.02"/>
                </geometry>
                <!--材质-->
                <material name="black">
                    <!--颜色RGBA格式-->
                    <color rgba="0 0 0 0.5"/>
                </material>
            </collision>

            <!--惯性属性-->
            <xacro:box_inertial m="0.05" w="0.02" h="0.02" d="0.02"/>
        </link>

        <!--机器人关节-->
        <joint name="imu_joint" type="fixed">
            <!--父链接-->
            <parent link="base_link"/>
            <!--子链接-->
            <child link="imu_link"/>
            <!--偏移和旋转-->
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
        </joint>
    </xacro:macro>
</robot>